{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h1>Inscription</h1>

                <div class="card">
                    {{ form(form) }}
                </div>

            </div>
        </div>
        <a class="btn btn-danger" role="button" href="{{ path('user_index') }}">Annuler</a>
    </div>
{% endblock %}
