{% extends 'base.html.twig' %}

{% block title %}New Kind{% endblock %}

{% block body %}
    <h1>Create new Kind</h1>

    {{ include('kind/_form.html.twig') }}

    <a href="{{ path('kind_index') }}">back to list</a>
{% endblock %}
