{% extends 'base.html.twig' %}

{% block title %}Edit Episodes{% endblock %}

{% block body %}
    <h1>Edit Episodes</h1>

    {{ include('episodes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('episodes_index') }}">back to list</a>

    {{ include('episodes/_delete_form.html.twig') }}
{% endblock %}
