{% extends 'base.html.twig' %}

{% block title %}New Episodes{% endblock %}

{% block body %}
    <h1>Create new Episodes</h1>

    {{ include('episodes/_form.html.twig') }}

    <a href="{{ path('episodes_index') }}">back to list</a>
{% endblock %}
