{% extends 'base.html.twig' %}

{% block body %}
    <h1>Oopsie</h1>

    <p>
        You're not supposed to be here.
        <a href="{{ path('home') }}">return to the homepage</a>.    </p>
{% endblock %}